# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Pytest
# =========================
.pytest_cache/
.cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Allure
# =========================
# Храним результаты, но не храним сгенерированный html-отчёт
allure-report/
